
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"
  ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

<body>
   <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-1 fixed-top">
      <div class="container">
        <a href="#" class="navbar-brand">Lions UCF</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="forum.html" class="nav-link">Forum</a>
            </li>
            <li class="nav-item">
              <a href="/merch" class="nav-link">Merch</a>
            </li>
            <li class="nav-item">
              <a href="/events" class="nav-link">Events</a>
            </li>
            <li class="nav-item">
                <a href="register_an_opp.html" class="nav-link">Register an opportunity</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>



    <!-- Css-->
    <link rel="stylesheet" href="/css/events.css" />

<section class="container">
  <h1>My Calendar</h1>
<iframe src="https://calendar.google.com/calendar/embed?src=orlandoknightslions%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</section>



</body>
</html>







































