<!DOCTYPE html>
<html>
<head>
  <title>Embedded Google Calendar</title>
</head>
<body>
  <h1>My Calendar</h1>
  <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&src=bm90bXlyZWFsbmFtZTMzMUBnbWFpbC5jb20&src=djZnNGlyYmYwcWg5a3ExaXY5MzhxM2R0ZTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ODk2Z3F2dDA0cGVqYXVmanRqaHJwNHQ0aTRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=dmZsMHVodTgwbGtpY3FvdHZjbGhicGFxanNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=a25pZ2h0aGFja3Mub3JnXzM1ZnZxc2hyYm1nZzE2bzY3ZWtoZW90OGs0QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=bGF1bnRxZnZtcWduZXZncmYxZjRzbG4zNmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZDc0MzQxMzM4MTQyYzVmNWVlYjgxY2JhMjVkMmY2N2U0OWUwNmI5OWZjMGY0MzE0YTUwYjJmZWFhNzM0MjkxM0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y2FsZW5kYXJAaGFja3VjZi5vcmc&src=aWVlZS51Y2ZAZ21haWwuY29t&src=cXBwczcxZHNxcDRxNHN2MHYwaXZ2MTlxazRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%230B8043&color=%238E24AA&color=%233F51B5&color=%23B39DDB&color=%238E24AA&color=%23B39DDB&color=%23B39DDB&color=%23795548&color=%234285F4&color=%23EF6C00" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe></body>
</html>
