<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>placeholder</title>
  <!-- font aweseome cdn-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--bootstrap-->
<link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">

  <!--custom css-->
  <link rel = "stylesheet" href = '/public/css/merch.css' >





</head>
<body>
  <!-- navbar-->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-1 fixed-top">
    <div class="container">
      <a class = " navbar-brand" href ="index.html">
        <img src = "/public/img/lion_logo.svg">
      </a>
    </div>
  </nav>
  <!-- -->

  <!--jquery stuff-->
  <script src = "/controllers/code.jquery.com_jquery-3.7.0.js"></script>

  <!--bootstrap js-->
  <script  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">

  </script>
<!-- custom js-->
<script src="/controllers/code.jquery.com_jquery-3.7.0.js"

</body>
</html>