<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up to be a Lion</title>

    <!-- Css-->
    <link rel="stylesheet" href="/css/sign_up.css" />
    <!--Boxicons CSS-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>




</head>
<body>
    <section class="container forms">
        <div class="form login"> 
            <div class="form-content">
                <header>Login</header>
                <form action ="#">
                    <div class="field input-field">
                        <input type="email" placeholder = "Email" class="input">
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder = "Password" class="password">
                        <i class='bx bx-hide eye-icon'></i> 
                    </div>


                    <div class="form-link">
                        <a href="#" class="forgot-pass">Forgot password?</a>
                    </div>

                      <div class="field button-field">
                            <button>Login</button>
                    </div>

                     <div class="form-link">
                           <span>Don't have an account? <a href="#" class="signup-link">Signup</a></span> 

                    </div>
                </form>             
            
            
            </div>
            <div class="line"></div>

            <div class="media-options">
                <a href="#" class="field facebook">
                    <i class = "bx bxl-facebook facebook-icon"></i>
                    <span>Login with facebook</span>

                </a>
            </div>
            <div class="media-options">
                <a href="#" class="field google">
                   <img src="/img/google.png" alt="" class="google-img">
                    <span>Login with Google</span>

                </a>
            </div>





        </div>
<!--sign up form -->
         <div class="form signup"> 
            <div class="form-content">
                <header>Sign up</header>
                <form action ="#">
                    <div class="field input-field">
                        <input type="email" placeholder = "Email" class="input">
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder = "Password" class="password">
                        <i class='bx bx-hide eye-icon'></i> 
                    </div>
                     <div class="field input-field">
                        <input type="password" placeholder = "Password" class="password">
                        <i class='bx bx-hide eye-icon'></i> 
                    </div>



             
                      <div class="field button-field">
                            <button>Sign up</button>
                    </div>

                     <div class="form-link">
                           <span>already have an account? <a href="#" class="signup-link">Login</a></span> 

                    </div>
                </form>             
            
            
            </div>
            <div class="line"></div>

            <div class="media-options">
                <a href="#" class="field facebook">
                    <i class = "bx bxl-facebook facebook-icon"></i>
                    <span>Login with facebook</span>

                </a>
            </div>
            <div class="media-options">
                <a href="#" class="field google">
                   <img src="/img/google.png" alt="" class="google-img">
                    <span>Login with Google</span>

                </a>
            </div>





        </div>
    </section>
    
</body>
</html>