<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="project-modal-form"
    aria-hidden="true">
    <div class="modal-wrap">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content opacity-2">
                <div class="modal-header">
                    <h2 class="page-title">Welcome back!</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="mcustom">
                    <div class="login-forms row justify-space-between-md">
                        <div class="login-card">
                            <form class="form login-form">
                                <div class="form-wrapper">
                                    <div class="form-group">
                                        <label for="email-login test">Email</label>
                                        <input class="form-input" type="text" id="email-login" />
                                    </div>
                                    <div class="form-group">
                                        <label for="password-login">Password</label>
                                        <input class="form-input" type="password" id="password-login" />
                                    </div>
                                </div>
                                <div class="form-group-btn">
                                    <button class="btn btn-primary loginBtn" type="submit">Login</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-modal" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="project-modal-form"
    aria-hidden="true">
    <div class="modal-wrap">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content opacity-2">
                <div class="modal-header">
                    <h2 class="page-title">Come on in!</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="mcustom">
                    <div class="login-forms row justify-space-between-md">
                        <div class="login-card">
                            <div class="form-wrapper">
                                <form class="form signup-form">
                                    <div class="form-group">
                                        <label for="username-signup">Username</label>
                                        <input class="form-input" type="text" id="username-signup" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email-signup">Email</label>
                                        <input class="form-input" type="text" id="email-signup" />
                                    </div>
                                    <div class="form-group">
                                        <label for="password-signup">Password</label>
                                        <input class="form-input" type="password" id="password-signup" />
                                    </div>
                            </div>
                            <div class="form-group-btn">
                                <button class="btn btn-primary logoutbtn" type="submit">SignUp</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>