/* the google fonts - poppins*/


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

    .container{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #4070f4;
    }


    .form{
        border-radius: 6px;
        background: #fff;
        width: 100%;
        max-width: 430px;
        border-radius: 6px;
        padding: 30px;

    }

    header{
        font-size: 28px;
        font-weight: 600;
        color: #232836;
        text-align: center;
    }


    form{
        margin-top: 30px;

    }
    .form .field{
        position: relative;
        height: 50px;
        width: 100%;
        margin-top: 20px;
        border-radius: 6px;

    }
    .field input,   
    .field button{
        height: 100%;
        width: 100%;
        border: none;
        font-size: 16px;
        font-weight: 400;
        border-radius: 6px;


    }


    .field input{
        border: 1px solid  #cacaca;
        padding: 0 15px;
        font-size: 16px;

    }

    .field input :focus{
        border-bottom-width:2px;


    }

    .eye-icon{
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50);
        font-size: 18px;
        color: #8b8b8b;
        cursor: pointer;
        padding: 5px;
    }
    .field button{
        color: #fff;
        background-color: #0171d3;
        transition: all .3s ease;
        cursor: pointer;
    }
    .field button:hover{

        background-color: #0171d3;
    }


    .form-link{
        text-align: center;
        margin-top: 10px;

    }

    .form-link span,
    .form-link  a{
        font-size: 14px;
        font-weight: 400;

    }

    .form a{
        color: #0171d3;
        text-decoration: none;
        
    }
    
    .form-content a:hover{
        text-decoration:underline;
        
    }


    .line{
        height: 1px;
        width: 100%;
        position: relative;
        background-color: #d4d4d4;
        margin: 36px 0;
          
    }

    .line::before{
        content: 'Or';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fFf;
        color: #232836;
        padding: 0 15px;
    }


    .media-options a{
        display: flex;
        background-color:    #4267b2;
        align-items: center;
        justify-content: center;

    }
    a.facebook{
        color: #fff;
        background-color: #4267b2
    }

    a.facebook  .facebook-icon{

        height: 28px;
        width: 28px;
        color: #0171d3;
        font-size: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content:  center;
        background-color: #fff;

    }

    .facebook-icon{
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }